body{
 box-sizing: border-box;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
header{
    background-image: linear-gradient(#1d2671cc, #c33764cc), url("../assets/crew3.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    object-fit: cover;
    height: 100%;
  
}

nav{
margin: 0 1em;
z-index: 1;


    .logo{
        width: 4em;
        filter: brightness(0) invert(1);
        margin: .5em 0;
        cursor: pointer;

    }
    display: flex;
    justify-content: space-between;
    ul{
        // display: flex;
        // margin:  1.5em 0;
        
        // li{
        //     margin: 0 1em;
        // }
        display: none;
    }

}
.burger-menu{
 width: 2em;
 fill: #ffffff;
 cursor: pointer;
}

.hero-content{
    width: 60%;
  margin: auto;
  padding: 9em 0;
    color: #ffffff;

h1{
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: .1em;
}
p{
    width: 90%;
    font: 1em sans-serif;
}
.explore-btn{
    display: flex;
   text-transform: capitalize;
    padding: 1em;
    float: right;
}
.left-arrow{
    width: .7em;
    fill: #ffffff;
    margin: .4em;
}
}